<mat-card>
  <mat-card-content>
    <h4 class="example-h2">{{ question.question }}</h4>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        *ngFor="let option of question.incorrect_answers"
        (click)="setNewAnswer(option)"
        [class]="
          question.correct_answer === question.given_answer &&
          status === checkAnswers
            ? 'correct'
            : ''
        "
        [class]="
          question.correct_answer !== question.given_answer &&
          status === checkAnswers
            ? 'incorrect'
            : ''
        "
        value="{{ option }}"
        >{{ option }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
