<mat-toolbar color="primary">
  <span class="fill-remaining-space"></span>

  <span>
    <a
      mat-icon-button
      matTooltip="Start"
      [routerLink]="'/'"
      [routerLinkActive]="'is-active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
    </a>
  </span>

  <span>
    <a
      mat-icon-button
      matTooltip="Play"
      [routerLink]="'/quiz'"
      [routerLinkActive]="'is-active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>question_answer</mat-icon>
    </a>
  </span>
  <span>
    <a
      mat-icon-button
      matTooltip="Results"
      [routerLink]="'/quiz/results'"
      [routerLinkActive]="'is-active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>feedback</mat-icon>
    </a>
  </span>
</mat-toolbar>
